.App {
  text-align: center;
  background-size: cover;
  background-repeat: repeat;
  background-position: top center;
  background-color: #f3ecec;
}

.App-logo {
  height: 50vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Navigation {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-style: none none solid none;
  border-width: 1px;
  border-color: lightgrey;
}

h1 {
  font-family: 'Walter Turncoat', cursive;
}

body {
  font-family: 'Raleway';
  font-size: 16px;
}

@media (min-width: 650px ) {
  .App {
      background-position: center center;
  }

  .App-content {
      align-items: center;
      justify-content: center;
  }
}
